/*Google Fonts*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
/*--------*/

*{
	padding: 0;
	margin: 0;
}

body{
  font-family: Lato;
  background-color: #fff;
	max-width: 1600px;
	width: 100%;
  margin: 0 auto;
}


a{
	text-decoration: none;
}

header{
	background: #222222;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

/* header */

.nav{
	display: flex;
	justify-content: space-between;
}

.nav__block{
  display: flex;
  align-items: center;
  min-height: 75px;
}

.header-left-block{
	display: flex;
}

.header-link{
	display: flex;
}

.header__link-right{
	padding-left: 41px;
}

.nav__block_summary {
  position: relative;
  display: block;
}


.nav__block_summary-list {
  position: absolute;
  top: 75px;
  right: 0;
  width: 232px;
  height: 764px;
  background-color: white;
  z-index: 1;
}
.nav__block_summary-link {
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 11px 0 0 54px;
}
.nav__link {
  display: inline-block;
}
.nav__link_left {
  padding-left: 31px;
}
.nav__link_right {
  padding-left: 20px;
}
.nav__link_relative {
  position: relative;
}
.nav__link_counter {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #F16D7F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -6px;
  left: 42px;
}

/* -------*/

.top-content {
	display: flex;
	background: #F1E4E6;
}

.top-content-group{
	padding-top: 289px;
	display: flex;
	padding-left: 63px;
}

/*.rectangle{
	width: 12px;
	height: 92px;
	background-color: #F16D7F;
}*/

.brand-text{
	position: relative;
	width: 431px;
	width: 100%;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 48px;
}

.brand-text::before{
 content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  position: absolute;
  top: -1px;
  left: -28px;
}

.red{
	color: #F16D7F;
}

.text-uppercase{
	text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
}

/* offer */

.offer-cards{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.offer-block{
	display: flex;
	text-align: center;
	align-items: center;
	text-decoration: none;
}

.offer-women{
	background-repeat: no-repeat;
	width: 360px;
	height: 260px;
  border: 1px solid black;
  background-image: url(img/offer-women.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}


.offer-text{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	margin: auto;
	color: #FFFFFF;
	text-transform: uppercase;
	display:flex;justify-content:center;align-items:center;
}

.offer-text-red{
	font-weight: 700;
	color: #F16D7F;
	display: block;
	line-height: 28.8px;
	font-size: 24px;
}

.offer-man{
	background-repeat: no-repeat;
	width: 360px;
	height: 260px;
  border: 1px solid black;
  background-image: url(img/offer-men.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}

.offer-child{
	background-repeat: no-repeat;
	width: 360px;
	height: 260px;
  border: 1px solid black;
  background-image: url(img/offer-child.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
}

.sections-block-bottom {
  margin: 30px 0;
}

.offer-acessories{
	background-repeat: no-repeat;
  border: 1px solid black;
  background-image: url(img/offer-acess.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: darken;
	margin: 30px 0;
	width: 1140px;
	height: 180px;
}

/*  cards*/

.cards{
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}


.products-header{
	padding-top: 96px;
	font-size: 30px;
	line-height: 36px;
	color: #222222;
	text-align: center;
}

.products-desc{
	padding-top: 6px;
	padding-bottom: 48px;
	font-size: 14px;
	line-height: 17px;
	color: #9F9F9F;
	text-align: center;
}

.card{
	display: block;
  width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
}

.card-heading{
	padding: 23px 0 13px 18px;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
}

.card-text{
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
  padding: 0 18px;
	color: #5D5D5D;
}

.card-price{
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;
	padding-top: 18px;
	padding-bottom: 20px;
	padding-left: 18px;
}

.browse_button__container{
	width: 100%;
  display: flex;
  justify-content: center;
 }

 .browse_button{
	display: flex;
  width: 211px;
  height: 47px;
  font-size: 16px;
  line-height: 19px;
  color: white;
  background-color: #F16D7F;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF6A6A;
  box-sizing: border-box;
  margin: 48.5px 0 95.5px 0;
 }

.browse_button:hover {
  color: #FF6A6A;
  background-color: white;
}

.footer-black{
	min-height: 340px;
  background-color: #222224;
}

.features{
  display: flex;
  padding: 103px 0;
}

.features-block{
	width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
	padding-left: 30px;
}

.features-block-heading{
	font-weight: 400;
	font-size: 19.96px;
	line-height: 24px;
	color: #FBFBFB;
	padding-top: 28px;
}

.features-block-text{
	padding-top: 16px;
	padding-bottom: 104px;
	font-weight: 300;
	font-size: 13.972px;
	line-height: 17px;
	text-align: center;
	color: #FBFBFB;
}

.footer-subscribe{
	background-image: url(img/background.jpg);
}

.subscribe{
  min-height: 448px;
  display: flex;
}

.subscribe-left{
	width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-left-text{
 width: 359px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-top: 30px
}

.subscribe-right{
	padding-top: 150px;
}

.subscribe-right-text{
	max-width: 570px;
	width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	font-weight: 400;
	text-transform: uppercase;
}

.subscribe-bold{
	font-weight: 700;
	font-size: 24px;
}

.subscribe-right-form{
	padding-top: 32px;
	display: flex;
	justify-content: space-around;
}

.subscribe-right-input{
	background: #E1E1E1;
  height: 49px;
  border-top-left-radius: 24.5px;
  border-bottom-left-radius: 24.5px;
  padding: 0 50px 0 24.5px;
}

.subscribe-right-btn{
	height: 49px;
  background: #E05C6E;
  color: white;
  border-top-right-radius: 24.5px;
  border-bottom-right-radius: 24.5px;
  padding: 0 24.5px;
}

.footer-bottom{
	width: 100%;
	background: #222224;
	display: flex;
}

.social-list {
	display: flex;
	width: 147px;
}
.social-list-item {
	margin: auto;
	width: 32px;
	height: 32px;
	background-color: #ffffff;
}
.list-item-link {
	width: 100%;
	height: 100%;
	display: flex;
}

.footer-bottom-wrapper{
	display: flex;
	justify-content: space-around;
}

.list-item-link svg{
	margin: auto;
}
.footer-bottom-right > .social-list > .social-list-item:nth-child(4) > .list-item-link{
	margin: 0;
}

#switch-filter {
  display: none;
}
#switch-filter:checked ~ .filter-list {
  display: block;
}

.filter-button{
	display: block;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left;
}

.filter-button span {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	text-transform: uppercase;
}

.filter-list{
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.filter-list:active{
	overflow: visible;
	display: block;
}

.filter-list-item{
	width: 100%;
  margin: 0 0 18px 0;
  padding: 11px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  /*border-bottom: 1px solid #EBEBEB; */
  position: relative;
}

.filter-list-item-link{
	display: block;
  text-transform: uppercase;
  color: #EF5B70;
  text-decoration: none;
}

.filter-sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  list-style: none;
}
/* ----- */
.filter-list-item-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
  position: absolute;
  top: 35px;
  left: 0px;
  z-index: 1;
}
.filter-list-item-link:hover {
  color: red;
}
.filter-list-item-link:active {
  color: pink;
}
.filter-sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  list-style: none;
}
.filter-sublist-item {
  margin: 0 0 11px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
}
.filter-sublist-item:last-child {
  margin: 0 0 24px 0;
}
.filter-sublist-item a {
  color: #6f6e6e;
  text-decoration: none;
}
.filter-sublist-item:hover a {
  color: #ef5b70;
}
.filter-sublist-item:active a {
  color: #000;
}

#switch-filter {
  display: none;
}
#switch-filter:checked ~ .filter-list {
  display: block;
}

.filters{
	max-width: 1600px;
	width: 100%;
	min-height: 133px;
  padding-top: 55px;
  display: flex;
}

.filter {
  width: 360px;
  padding: 13px 16px 16px 16px;
  box-sizing: border-box;
  background: #FFFFFF;
  /*box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); */
	position: absolute;
}

.filter-list {
  display: none; 
  list-style: none;
  margin: 0;
  padding: 0;
	position: relative;
}

.filter-button {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left;
}
.filter-button span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}
.filter-button svg {
  margin: 0 0 0 11px;
  fill: currentColor;
}
.filter-button:hover {
  color: #F16D7F;
}
.filter-button:active {
  color: #222224;
}

.filter-sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  list-style: none;
}
.filter-sublist-item {
  margin: 0 0 11px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
}

.filter-sublist-item:last-child {
  margin: 0 0 24px 0;
}

.list-size {
  width: 80px;
  border: none;
  background-color: transparent;
	margin-left: 35px;
}
.list-size-btn-title {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background-color: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}
.list-size-btn-title svg {
  fill: #6F6E6E;
  position: absolute;
  top: 40%;
  left: 60%;
}
.list-size-btn-title:hover {
  color: #F16D7F;
}
.list-size-btn-title:hover svg {
  fill: currentColor;
}
.list-size-btn-title:active {
  color: black;
}
.list-size-btn-title:active svg {
  fill: currentColor;
}

#switch{
	  display: none;
}

#switch:checked ~ .list-size-wrp {
  display: flex;
}
.list-size-wrp {
  display: none;
  flex-direction: column;
  margin: 5px 0 0 0;
  padding: 9.5px 9.5px 9.5px 31px;
  box-sizing: border-box;
  background-color: #fff;
	position: absolute;
}
.list-size-item {
  display: none;
	position: relative;
}
.list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2):before,
.list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4):before,
.list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6):before,
.list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8):before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
  background-size: cover;
  background-position: center;
}
.list-size-item-title {
  display: block;
  margin: 0 0 6px 0;
  position: relative;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.41px;
  color: #6F6E6E;
}
.list-size-item-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1px;
  left: -23.5px;
}

.breadcrumbs{
	max-width: 1600px;
	width: 100%;
}



.specifications{
	padding-top: 51px;
	padding-bottom: 64px;
	display: flex;
	justify-content: space-around;
}

.trend{
	display: block;
	padding-left: 10px;
}

.breadcrumbs-left{
	  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.breadcrumbs-right{
  display: flex;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.breadcrumbs {
  background-color: #F8F3F4;
}

.breadcrumbs-content{
	 min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs-link{
	display: block;
}

.filters-center{
	display: flex;
	justify-content: center
}

.price{
	display: block;
}

.filters-text  {
	font-size: 14px;
	line-height: 17px;
	color: #6F6E6E;
	text-transform: uppercase;
}

.filters-svg {
	fill: #6F6E6E;
	padding-left: 10px;
}

.pagination-container{
	min-height: 188px;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  border: 1px solid #EBEBEB;
  margin-top: 48.5px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.pagination li:nth-child(2) > a {
  color: #F16D7F;
}

.pagination a {
	font-weight: 300;
  color: #C4C4C4;
  font-weight: lighter;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.products{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.carousel{
	background-image: url(img/carousel-img.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 776px;
	display: flex;
	align-items: center;
}

.carousel__btn {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.carousel__btn{
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  font-size: 21px;
}
.carousel__btn:hover i {
  color: #F16D7F;
}

.cart-breadcrumbs-title{
	border: 0px solid #6df174;
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	color: #f16d7f;
}

.product-cart{
	display: flex;
	width: 1140px;
	width: 100%;
	margin: 0 auto;
	border: 1px solid black;
	height: 100%;
}

.product-cart-item{
	border: 2px solid firebrick;
	display: flex;
	height: 306px;
}

.product-cart-item-details{
	display: flex;
	width: 100%;
  margin: 28px 22px 0 31px;
  position: relative;
	flex-direction: column;
}

.product-cart-item-details-title{
	font-size: 24px;
	line-height: 29px;
	color: #222222;
	text-transform: uppercase;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	padding-bottom: 42px;
}

.property{
	display: flex;
	flex-direction: column;
}

.quantity{
	display: flex;
}

.quantity-field{
	width: 43px;
	border: 1px solid #EAEAEA;
	margin-left: 24px;
	text-align: center;
}